@using Microsoft.AspNetCore.Identity
@using PixelPerspective.Areas.Identity.Data
@using PixelPerspective.Data
@using Microsoft.EntityFrameworkCore

@inject SignInManager<PixelPerspectiveUser> SignInManager
@inject UserManager<PixelPerspectiveUser> UserManager
@inject PixelPerspectiveContext _context

@{
    var user = await UserManager.GetUserAsync(User);
    var displayName = user?.DisplayName;
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);

        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="database" asp-page="/Games/Index">Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="explore" asp-page="/Explore">Explore</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="genres" asp-page="/Genres">Genres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="topRated" asp-page="/TopRated">Top Rated</a>
        </li>

        @if (currentUser?.IsAdmin == true)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="admin" asp-page="/Admin/Index">Admin</a>
            </li>
        }

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li>
                    <a class="nav-link text-dark" href="@Url.Page("/UserProfile", new { displayName = displayName })" class="profile-name">My Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="profile" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Create Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="explore" asp-page="/Explore">Explore</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="genres" asp-page="/Genres">Genres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="topRated" asp-page="/TopRated">Top Rated</a>
        </li>
    }
</ul>
