@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- HOME PAGE -->
<head>
    <title>Pixel Perspective</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>
<div class="container-fluid">
    <div class="row">
        <!-- This is the section of the wireframe at the top designated "featured game sliders", we will probably implement an algorithm to pull games at random in the database to appear here-->
        <div class="col-md-12">
            <div class="justify-content-start">

                <div class="slider mb-5">
                    <div><img src="https://healthnewshub.org/wp-content/uploads/2018/03/NewsFortnite.jpg" width="120" height="160" alt="fortnite"></div>
                    <div><img src="https://image.api.playstation.com/vulcan/img/rnd/202010/2614/Sy5e8DmeKIJVjlAGraPAJYkT.png" width="120" height="160" alt="fortnite"></div>
                    <div><img src="https://m.media-amazon.com/images/I/6110RSDn3PL._AC_UF894,1000_QL80_.jpg" width="120" height="160" alt="fortnite"></div>
                    <div><img src="https://upload.wikimedia.org/wikipedia/en/f/f2/CS2_Cover_Art.jpg" width="120" height="160"></div>
                    <div><img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8d/Dark_Souls_Cover_Art.jpg/220px-Dark_Souls_Cover_Art.jpg" width="120" height="160"></div>
                    <div><img src="https://i.redd.it/96e9f3itf0i51.jpg" width="120" height="160"></div>
                    <div><img src="https://upload.wikimedia.org/wikinews/en/7/7a/Minecraft_game_cover.jpeg" width="120" height="160"></div>
                    <div><img src="https://blog.playstation.com/uploads/2024/10/1a6a16374242edbaf7a3921082d22236c568b1cc.jpeg" width="120" height="160"></div>
                </div>

                <script type="text/javascript">

                    $('.slider').slick({
                        infinite: true,
                        slidesToShow: 4,
                        slidesToScroll: 4
                    });
                </script>
            </div>
        </div>

        <!-- Left Side Panel -->
        <div class="col-md-10 mb-3" style="">
            <div class="justify-content-start">

                <div class="row mb-5 border border-success border-opacity-50 rounded">
                    <div class="col-md-2">
                        <h2>New Releases</h2>
                    </div>
                    <!-- Game thumbnails that link to the game's page will appear here -->
                    <div class="col-md-2">
                        <div class=""><img src="https://upload.wikimedia.org/wikipedia/en/f/f2/CS2_Cover_Art.jpg" width="120" height="160" class="rounded"></div>
                    </div>
                    <div class="col-md-2">
                        <div><img src="https://cdn.mobygames.com/covers/19339043-balatro-xbox-one-front-cover.png" width="120" height="160" class="rounded"></div>
                    </div>
                    <div class="col-md-2">
                        <div><img src="https://www.monsterhunter.com/wilds/assets/img/product/MHWilds_normal.png" width="120" height="160" class="rounded"></div>
                    </div>
                    <div class="col-md-2">
                        <div><img src="https://m.media-amazon.com/images/I/6110RSDn3PL._AC_UF894,1000_QL80_.jpg" width="120" height="160" class="rounded"></div>
                    </div>
                    <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikipedia/en/0/05/Destiny_2_%28artwork%29.jpg" width="120" height="160" class="rounded"></div>
                    </div>
                </div>

                <div class="row mb-5 border border-success rounded">
                    <div class="col-md-2">
                        <h2>Game of the year nominees 2024</h2>
                    </div>
                    <!-- Game thumbnails that link to the game's page will appear here -->
                    <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikipedia/en/1/12/Baldur%27s_Gate_3_cover_art.jpg" width="120" height="160" class="rounded"></div>
                    </div>
                    <div class="col-md-2">
                        <div><img src="https://m.media-amazon.com/images/I/6110RSDn3PL._AC_UF894,1000_QL80_.jpg" width="120" height="160" class="rounded"></div>
                    </div>
                    <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikipedia/en/a/aa/It_Takes_Two_cover_art.png" width="120" height="160" class="rounded"></div>
                    </div>
                    <div class="col-md-2">
                        <div><img src="https://cdn11.bigcommerce.com/s-xs1cevxe43/images/stencil/1280x1280/attribute_rule_images/15983_source_1708538450.jpg" width="120" height="160" class="rounded"></div>
                    </div>
                    <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikipedia/en/0/05/Destiny_2_%28artwork%29.jpg" width="120" height="160" class="rounded"></div>
                    </div>
                </div>

                <div class="row mb-5 border border-success rounded">
                <div class="col-md-2">
                    <h2>Trending</h2>
                </div>
                <!-- Game thumbnails that link to the game's page will appear here -->
                <div class="col-md-2">
                        <div><img src="https://healthnewshub.org/wp-content/uploads/2018/03/NewsFortnite.jpg" width="120" height="160" alt="fortnite" class="rounded"></div>
                </div>
                <div class="col-md-2">
                        <div><img src="https://healthnewshub.org/wp-content/uploads/2018/03/NewsFortnite.jpg" width="120" height="160" class="rounded"></div>
                </div>
                <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikinews/en/7/7a/Minecraft_game_cover.jpeg" width="120" height="160" class="rounded"></div>
                </div>
                <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikinews/en/7/7a/Minecraft_game_cover.jpeg" width="120" height="160" class="rounded"></div>
                </div>
                <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikipedia/en/0/05/Destiny_2_%28artwork%29.jpg" width="120" height="160" class="rounded"></div>
                </div>
            </div>

                <div class="row mb-5 border border-success rounded">
                <div class="col-md-2">
                    <h2>Our top picks</h2>
                </div>
                <!-- Game thumbnails that link to the game's page will appear here -->
                <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8d/Dark_Souls_Cover_Art.jpg/220px-Dark_Souls_Cover_Art.jpg" width="120" height="160" class="rounded"></div>
                </div>
                <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikipedia/en/6/6e/Sekiro_art.jpg" width="120" height="160" class="rounded"></div>
                </div>
                <div class="col-md-2">
                        <div><img src="https://healthnewshub.org/wp-content/uploads/2018/03/NewsFortnite.jpg" width="120" height="160" alt="fortnite" class="rounded"></div>
                </div>
                <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikipedia/en/a/aa/It_Takes_Two_cover_art.png" width="120" height="160" class="rounded"></div>
                </div>
                <div class="col-md-2">
                        <div><img src="https://upload.wikimedia.org/wikipedia/en/0/05/Destiny_2_%28artwork%29.jpg" width="120" height="160" class="rounded"></div>
                </div>
            </div>

        </div>

    </div>

        <!-- Right Side Panel -->
        <div class="col-md-2"">
            <p><a href="/UserProfile/Jordan4u2c">Jordan's Profile</a></p>
            <p><a href="/UserProfile/calebm01">Caleb's Profile</a></p>
            <p><a href="/UserProfile/">Bridger's Profile</a></p>
        </div>

    </div>
</div>
